*~
.*swp
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.tar.gz
*.trs
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
all.coverage
coverage-html
Makefile
Makefile.in
report.coverage
TAGS
