.*swp
*.la
*.lo
*.o
*.tar.gz
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
Makefile
Makefile.in
TAGS
mtbl/libmtbl.pc
src/mtbl_dump
src/test-block_builder
src/test-crc32c
src/test-fixed
src/test-memtable
src/test-mtbl
src/test-trailer
src/test-varint
src/test-vector
