*~
.*swp
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.tar.gz
*.trs
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/coverage.info
/coveragereport
/libtool
/stamp-h1
Makefile
Makefile.in
TAGS
